<h1>Battleships</h1>

<p>Behold the greatest ship battles of all times.</p>

<% if @games.any? %>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Waiting Player</th>
        <th>Join</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to game.id, game_path(game) %></td>
          <td><%= game.players.map(&:name).join(', ') %></td>
          <td><%= game.waiting_for_players? ? (link_to "Join", game_players_path(game)) : "Started" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= form_for @game do |f| %>
  <p><%= f.submit "Create new game" %></p>
<% end %>
