<h1>Battleships</h1>

<p>Behold the greatest game of all times.</p>

<% if @joinable_games.any? %>
  <h2>Join</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Waiting Player</th>
        <th>Join</th>
      </tr>
    </thead>
    <tbody>
      <% @joinable_games.each do |game| %>
        <tr>
          <td><%= link_to game.id, game_path(game) %></td>
          <td><%= game.players.any? ? game.players.first.name : "" %></td>
          <td><%= link_to "Start", game_players_path(game) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Create</h2>
<%= form_for @game do |f| %>
  <p><%= f.submit "Create" %></p>
<% end %>
