<h1>Mighty heroes in game #<%= @game.id %></h1>

<% if @game.waiting_for_players? %>
  <%= form_for [@game, @game.players.build] do |f| %>
    <p>Your name, sir <%= f.text_field :name %></p>
    <p><%= f.submit "Join" %></p>
  <% end %>
<% end %>

<% if @game.players.any? %>
  <h2>Already in the game</h2>
  <p><%= @game.players.map { |player| player.name }.join(', ') %></p>
<% end %>
